<footer class="page-footer elegant-color center-on-small-only">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<h5 class="title">
					Stock App By James Scotland
				</h5>
				<p>
					A website and app designed to make maintaining inventory easier
					All product information provided by the Tesco Api
				</p>
			</div>
			<div class="col-md-6">
				<h5 class="title">Some Links</h5>
				<ul>
					<li><a href="https://github.com/StormMaster12/StockApp">Github Link to Stock App project</a></li>
					<li><a href="#!">Google Play Link</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>
<div class="footer-copyright">
	<div class="container-fluid">
		© 2018 Copyright: James Scotland
	</div>
</div>
</footer>